name: Deploy FastAPI to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.8.1
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@18.234.231.208 << 'EOF'
            cd ~/sentiment-api
            git pull origin main
            docker build -t sentiment-api .
            docker stop sentiment-api || true
            docker rm sentiment-api || true
            docker run -d -p 80:8000 --name sentiment-api sentiment-api
          EOF
